.Performance {
  display: flex;
  @media screen and (max-width:850px) {
    flex-wrap: wrap;
  }
  &__left {
    width: 60%;
    padding: 1rem;
    @media screen and (max-width:850px) {
     width: 100%;
    }
    video {
      width: 90%;
    }
  }
  &__right {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    padding: 1rem;

    @media screen and (max-width:850px) {
      width: 100%;
     }
    h1{
        font-size: 3rem;
        font-weight: 600;
        text-transform: uppercase;
        @media screen and (max-width: 450px) {
          font-size: 2rem;
        }
    }
    p{
        font-size: 1rem;
        font-weight: 300;
        line-height: 2rem;
        @media screen and (max-width: 450px) {
          font-size: 0.9rem;
        }
        
    }
  }
}
