.TabNav {
    display: flex;
    margin: 1rem 0 3rem;

    .tab {
      padding: 0.2rem 1rem;
      font-size: 1rem;
      text-transform: uppercase;
      background: transparent;
      color: rgba(255, 255, 255, 0.3);
      outline: none;
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      @media screen and (max-width: 850px) {
        font-size: 0.8em;
      }
      &:not(:last-child) {
        margin-right: 0.5rem;
        border-right: 1px solid rgba(255, 255, 255, 0.3);
      }
      &:first-of-type {
        padding-left: 0;
      }
      &.active {
        text-decoration: underline;
        color: #fff;
      }
    }
  }