.Header {
  width: 100vw;
  &.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.7rem 3rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: baseline;
    align-items: center;
    gap: 1rem;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 9999;
    @media screen and (max-width: 950px) {
     justify-content: space-between;
    }
    @media screen and (max-width: 350px) {
     justify-content: flex-start;

    }
  }
  &.hidden {
    opacity: 1;
  }

  &__left {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 950px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-logo {
      width: 13rem;
      margin-bottom: 0.8rem;
      @media screen and (max-width: 950px) {
      width: 8rem;
      }

      img {
        width: 100%;
        filter: invert(1);
      }
    }
    &-nav {
      grid-column: 9 span;

      @media screen and (max-width: 950px) {
        display: none;
      }
    }
  }

  &__right {
    width: 40vw;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 0.8em;

    @media screen and (max-width: 950px) {
      grid-column: 6 span;
    }

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
    }
    .shop {
      a {
        color: #fff;
        font-size: 1.1em;
        font-weight: 600;
        text-transform: uppercase;
        font-family: 'D-DIN';
      }
    }
    &-openSideBar {
      font-size: 1.2em;
      cursor: pointer;
    }
  }
}
